.App {
  text-align: center;
  width: 100%;

}

.word-input {
  width: 300px;
  max-height: 200px;
  margin: .5rem;
}

.button-make {
  padding: .5em 1em;
  background-color: #728C41;
  color: white;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 1px 5px 5px rgba(0,0,0, .2);
  margin-bottom: 1rem;
}

.grid {
  display: inline-block;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: .4em;
}

.letter {
  width: 1em;
  text-align: center;
}

.letter-highlight {
  width: 1em;
  text-align: center;
  color: red;
}

.letter:not(:last-child) {
  margin-right: .4em;
}

.letter-highlight:not(:last-child) {
  margin-right: .4em;
}

.word-list-header {
  margin-top: 1em;
  font-size: 1.2em;
}

.word-list {
  margin: 0 auto;
  width: 80%;
  min-width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
}

.word-list > div {
  padding: 10px 5px;
}

.word-highlighted {
  color: red;
}

@media print
{

  .grid {
    display: inline-block;
    margin: 120px auto 0 auto;
  }
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.navbar {

}
